<div class="form-group container m-t-3 f-new-listing">
	<%= form_for @listing do |form|%>
		
		<div class="form-group row">
		    <%= form.label :title, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.text_field :title, :placeholder => "Title", :class => "form-control" %>
		    </div>
		    <p class="leads col-xs-10 offset-xs-2">
		    	This will be showed when people first view your unit,
		    	descripe the unit in a small secentence.
		    	Don't warry you can give more information in the summary sections
		    </p>
		</div>
		
		<div class="form-group row">
				<%= form.label :summary, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.text_area :summary, :row => "8", :placeholder => "Summary", :class => "form-control" %>
		    </div>
		    <p class="leads col-xs-10 offset-xs-2">
		    	give a small summary about the unit, be descriptive.
		    </p>
		</div>

		<div class="form-group row">
				<%= form.label :property_type, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.select :property_type, 
		    options_for_select(['House', 'Apartment']), {:include_blank => true}, :class => 'form-control', :placeholder => "Property Type" %>
		    </div>
		</div>

		<div class="form-group row">
				<%= form.label :room_type, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.select :room_type,
		    options_for_select(['Shared Room', 'Private Room', 'Entire Home']), {:include_blank => true}, :class => 'form-control' %>
		    </div>
		</div>
		
		<div class="form-group row">
				<%= form.label :bathrooms_number, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.select :bathrooms_number, 
		    options_for_select(1..15, 3), {}, :class => 'form-control' %>
		    </div>
		</div>

		<div class="form-group row">
				<%= form.label :beds_number, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.select :beds_number, 
		    options_for_select(1..15, 2), {}, :class => 'form-control' %>
		    </div>
		</div>
		
		<div class="form-group row">
		    <%= form.label :guest_no, :class => "col-xs-2 col-form-label" %>
		    <div class="col-xs-10">
		    <%= form.select :guest_no, 
		    options_for_select(1..16, 2), {}, :class => 'form-control' %>
		    </div>
		</div>
		

		<div class="form-group row">
		  <%= form.label :price_per_night, :class => "col-xs-2 col-form-label" %>
		  <div class="col-xs-10">
		    <%= form.text_field :price_per_night, 
						:class => "form-control", :id => "price_per_night", :placeholder => "Price Per Night" %>	
		  </div>
		</div>

		<div class="form-group row">
			<div class="form-group col-xs-6">
			  <%= form.label :check_in_time, :class => "col-xs-4 col-form-label" %>
			  <div class="col-xs-8">
			    <%= form.text_field :check_in_time, :type => 'time', 
							:class => "form-control", :value => "14:00:00", :id => "check_in_time" %>	
			  </div>
			</div>
			<div class="form-group col-xs-6">
			  <%= form.label :check_out_time, :class => "col-xs-4 col-form-label" %>
			  <div class="col-xs-8">
			    <%= form.text_field :check_out_time, :type => 'time', 
							:class => "form-control", :value => "14:00:00", :id => "check_out_time" %>	
			  </div>	
			</div>
		</div>
		
		<div class="form-group row">
		  <label for="country" class="col-xs-2 col-form-label">Country</label>
		  <div class="col-xs-10 country-field">
		    <div class="col-md-4">
		      <%= form.text_field :country, :placeholder => "Country", 
		      										:class => "form-control" %>
		    </div>
		    <div class="col-md-4">
		      <%= form.text_field :state, :placeholder => "State", 
		      										:class => "form-control c-form", :id => "state" %>
		    </div>
		    <div class="col-md-4">
		      <%= form.text_field :zip_code, :placeholder => "Zip Code", 
		      										:class => "form-control c-form", :id => "zip_code" %>
		    </div>
		  </div>
		</div> <!-- Country Group -->
		
		<div class="form-group row">
			<%= form.label :address, :class => "col-xs-2 col-form-label" %>
		  <div class="col-xs-10">
		    <%= form.text_field :address, 
						:class => "form-control", :id => "address", :placeholder => "Street Address" %>	
		  </div>
		</div>
		
<!-- 		<label class="custom-control custom-checkbox">
		  <input type="checkbox" class="custom-control-input">
		  <span class="custom-control-indicator"></span>
		  <span class="custom-control-description">Smoking Room</span>
		</label> -->
		
		<div class="form-group row">
			<label class="col-xs-2 col-form-label">Facilities</label>
			<div class="col-xs-10">
				<%= form.label :smoker, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :smoker, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">smoking_rooms</i>  Smoking Room</span>	
				<% end %>
				<%= form.label :wifi, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :wifi, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">wifi</i>  Wifi</span>	
				<% end %>
				<%= form.label :air_con, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :air_con, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">ac_unit</i>  Air Conditioner</span>	
				<% end %>
				<%= form.label :pool, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :pool, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">pool</i>  Pool</span>	
				<% end %>
				<%= form.label :tv, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :tv, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">tv</i>  Tv</span>	
				<% end %>
				<%= form.label :Kitchen, :class => "form-check-inline custom-control custom-checkbox" do %>
					<%= form.check_box :Kitchen, :class => "custom-control-input" %>
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description"><i class="material-icons">kitchen</i>  Kitchen</span>	
				<% end %>		
			</div>
		</div>
		<div class="form-group row file-group">
			<%= form.file_field :avatars, multiple: true, :class => "inputfile", :id => "img-uploader" %>		
		  <label for="img-uploader" class="btn btn-file">Choose a file</label>	
		</div>
		 
		<%= form.submit %>
	<% end %>
</div>
