<% if reservations.empty? %>
  <div class="empty-list">
    <h2 class="title">You have no upcoming reservations.</h2>
  </div>
<% else %>
  <% reservations.each do |reservation| %>  
    <div class="listing-card card">
      <div class="card-header">
          Reserved
      </div> <!-- Tab Header -->
      <div class="card-block flex">
        <% if reservation.listing.avatars.empty? %>
          <img src="/assets/room_default.png" class="room-img" alt="room-default" width="330" height="200">
        <% else %>
          <img src="<%= reservation.listing.avatars.first.avatar.url %>" class="room-img" alt="room" width="330" height="200">
        <% end %>
        <div class="listing-desc">
          <h4 class="type">
          <%= reservation.listing.room_type %> <%= reservation.listing.property_type %> In <%= reservation.listing.state %>
          </h4>
          <h4 class="reserved-by">Reserved By <strong><%= reservation.user.name %></strong> </h4>
            <h4 class="check-date">Check in: <%= reservation.check_in_date.strftime("On %B %e, %Y") %></h4>  
            <h4 class="check-date">Check out: <%= reservation.check_out_date.strftime("On %B %e, %Y") %></h4>  
          
          <h4 class="update">Last updated: <%= reservation.listing.updated_at.strftime("On %B %e, %Y") %></h4>
          <%= link_to("Preview", listing_path(reservation.listing) , :class => "btn btn-danger btn-preview") %>
        </div>
      </div> <!-- Tab Block card -->
      <%= link_to "/reservations/#{reservation.id}", :method => :delete, :class => "no-color" do %>
        <i class="material-icons icon-close">close</i>
      <% end %>
    </div> <!-- Listing card container -->    
  <% end %> <!-- reservations Loop -->
<% end %> <!-- End If  -->









