<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application'  %>
</head>
<body>

  <div class="container-fluid">
    <div class="row header">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="nav navbar-nav container flex">
          <%= link_to("AirBnB", root_url, :class => "navbar-brand") %>
          <a class="nav-item nav-link active" href="#">Home 
          <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <% if  signed_in? %>
            <%= link_to(current_user.name, user_path(current_user.id)) %>
          <% else %>
            <%= link_to("Sign Up", sign_up_path , :remote => true, :class => "nav-item nav-link") %>
            <%= link_to("Sign In", sign_in_path , :remote => true, :class => "nav-item nav-link") %>
          <% end %>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="container d">
          <%= yield %>
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
  </div>
</body>
</html>


