<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application'  %>
</head>
<body>

  <div class="container-fluid">
    <div class="row header" id="header">
      <% if signed_in? -%>
        <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
      <% else -%>
        <%= link_to t(".sign_in"), sign_in_path %>
      <% end -%>  
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>" class="alert alert-info"><%=h value %></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <%= yield %>      
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
  </div>
</body>
</html>
