
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://www.airbnb.com/favicon.ico">
    <title>Welcome to the world of trips.</title>
    
    <%= javascript_include_tag 'https://use.fontawesome.com/586a7bc924.js' %>
    <%= stylesheet_link_tag 'main_app/application' %>
  </head>
  <body>
        
    

    <div class="container-fluid">
      <div class="row header">
        <nav class="navbar navbar-dark bg-inverse">
          <div class="nav navbar-nav flex">
            <a class="navbar-brand" href="#">
              <img src="/assets/logo.png" width="40" height="40" alt="logo">
            </a>
            <a class="nav-item nav-link active" href="#">Become a Host <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#listings-row">Listings</a>
            <% if signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="user_menu">
                  <%= link_to("Profile", edit_user_path(current_user), :class => "dropdown-item") %>
                  <%= link_to t(".sign_out"), sign_out_path, 
                      method: :delete, :class => "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <%= link_to("Sign Up", sign_up_path, :remote => true, :class => "nav-item nav-link") %>
              <%= link_to("Sign In", sign_in_path, :remote => true, :class => "nav-item nav-link") %>
            <% end %>
          </div>
        </nav>

        <div class="content container">
          <h2 class="title">Welcome to the world of trips.</h2>
          <p class="leads">Homes, experiences, and places — all in one app.</p>
        </div>
      </div>
      <div class="row search-bar">
        <div class="search-box container">
          <form class="flex">
            <div class="where flex flex-col">
              <label for="where">Where</label>
              <input type="text" name="where" class="">
            </div>
            <div class="when">
              <label for="where">When</label>
              <input type="date" name="where" placeholder="where" class="form">
              <input type="date" name="where" placeholder="where" class="form">
            </div>
            <div class="guests">
              <label for="where">Guests</label>
              <select class="custom-select">
                <option selected value="1">1 Guest</option>
                <option value="2">2 Guests</option>
                <option value="3">3 Guests</option>
                <option value="4">4 Guests</option>
                <option value="5">5 Guests</option>
                <option value="6">6 Guests</option>
                <option value="7">7 Guests</option>
                <option value="8">8 Guests</option>
                <option value="9">9 Guests</option>
                <option value="10">10+ Guests</option>
              </select>
            </div>
            <input type="submit" id="search" class="btn btn-info">
          </form>
        </div>
      </div>
      <div class="row listings">
        <div class="container">
          <h1 class="title">Popular Listings</h1>
          <button class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
          <button class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
          <div class="flex listing-row" id="listing-row">
              
              <div class="listing">
                <div class="img">
                  <img src="/assets/house_4.jpeg" alt="listing" width="350" height="233">
                </div>
                <div class="info flex">
                  <span class="price">RM1200</span>
                  <span class="type">Entire House In Milano</span>
                </div>
                <!-- Empty Star &#9734; -->
                <!-- Full Star &#9733; -->
                <div class="rating">
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="empty-star">&#9733;</span>
                  <span>132 reviews</span>
                </div>  
              </div> <!-- listing -->
              <div class="listing">
                <div class="img">
                  <img src="/assets/house_3.jpeg" alt="listing" width="350" height="233">
                </div>
                <div class="info flex">
                  <span class="price">RM4700</span>
                  <span class="type">Entire House In LA</span>
                </div>
                <!-- Empty Star &#9734; -->
                <!-- Full Star &#9733; -->
                <div class="rating">
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="empty-star">&#9734;</span>
                  <span>132 reviews</span>
                </div>  
              </div> <!-- listing -->
              <div class="listing">
                <div class="img">
                  <img src="/assets/house_2.jpeg" alt="listing" width="350" height="233">
                </div>
                <div class="info flex">
                  <span class="price">RM700</span>
                  <span class="type">Private Room In London</span>
                </div>
                <!-- Empty Star &#9734; -->
                <!-- Full Star &#9733; -->
                <div class="rating">
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="empty-star">&#9734;</span>
                  <span>132 reviews</span>
                </div>  
              </div> <!-- listing -->
              <div class="listing">
                <div class="img">
                  <img src="/assets/house_1.jpeg" alt="listing" width="350" height="233">
                </div>
                <div class="info flex">
                  <span class="price">RM1700</span>
                  <span class="type">Private Room In NYC</span>
                </div>
                <!-- Empty Star &#9734; -->
                <!-- Full Star &#9733; -->
                <div class="rating">
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="empty-star">&#9734;</span>
                  <span>132 reviews</span>
                </div>  
              </div> <!-- listing -->  
              <div class="listing">
                <div class="img">
                  <img src="/assets/house_5.jpeg" alt="listing" width="350" height="233">
                </div>
                <div class="info flex">
                  <span class="price">RM2700</span>
                  <span class="type">Private Room In KL</span>
                </div>
                <!-- Empty Star &#9734; -->
                <!-- Full Star &#9733; -->
                <div class="rating">
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="full-star">&#9733;</span>
                  <span class="empty-star">&#9733;</span>
                  <span>132 reviews</span>
                </div>  
              </div> <!-- listing -->
              
          </div>
        </div><!-- container -->
      </div> <!-- listings -->
      <div class="row expo">
        <%= yield %>
      </div>
      <div class="row find-us"></div>
      <div class="row footer"></div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>