
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://www.airbnb.com/favicon.ico">
    <title>Welcome to the world of trips.</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'https://use.fontawesome.com/586a7bc924.js' %>
    <%= stylesheet_link_tag 'main_app/application' %>
  </head>
  <body>
        
    

    <div class="container-fluid">
      <div class="row header">
        <nav class="navbar navbar-dark bg-inverse">
          <div class="nav navbar-nav flex">
            <a class="navbar-brand" href="#">
              <img src="/assets/logo.png" width="40" height="40" alt="logo">
            </a>
            <a class="nav-item nav-link active" href="#">Become a Host <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#listings-row">Listings</a>
            <% if signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="user_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
                <div class="dropdown-menu" aria-labelledby="user_menu">
                  <%= link_to("Profile", user_path(current_user), :class => "dropdown-item") %>
                  <%= link_to t(".sign_out"), sign_out_path, 
                      method: :delete, :class => "dropdown-item" %>
                </div>
              </li>
            <% else %>

              <%= link_to("Sign Up", sign_up_path, :class => "nav-item nav-link") %>
              <%= link_to("Sign In", sign_in_path, :class => "nav-item nav-link") %>
            <% end %>
          </div>
        </nav>

        <div class="content container">
          <h2 class="title">Welcome to the world of trips.</h2>
          <p class="leads">Homes, experiences, and places — all in one app.</p>
        </div>
      </div>
      <div class="search-bar container">
        <form class="flex" action="/search" method="post">
          <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" class="hidden">
          <div class="location flex flex-col">
            <label for="where">Where</label>
            <input type="text" name="query">
          </div>
          <div class="dates flex flex-col">
            <label for="where">When</label>
            <div class="dates-input flex">
              <div class="check-in mr-2">
                <input type="date" name="check_in_date" class="date">
                <span  class="date-field">Check In</span>
              </div>
              <i class="material-icons arrow">arrow_forward</i>
              <div class="check-out ml-2">
                <input type="date" name="check_out_date" class="date">
                <span  class="date-field">Check Out</span>
              </div>
            </div>
          </div>
          <div class="guests flex flex-col">
            <label for="where">Guests</label>
            <select class="custom-select" name="guest_no">
              <option selected value="1">1 Guest</option>
              <% 16.times do |n| %>
                <% next if n == 0 %>
                <option value="<%= n + 1 %>"><%= pluralize(n == 15 ? "#{n + 1}+" : n + 1 , "Guests") %></option>
              <% end %>
            </select>
          </div>
          <input type="submit" id="search" class="btn btn-search" value="Search">
        </form>
      </div>
      <div class="row listings">
        <div class="container">
          <h1 class="title">Popular Listings</h1>
          <button class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
          <button class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

          <div class="flex listing-row" id="listing-row">              
            <%= yield %>
          </div>
        </div><!-- container -->
      </div> <!-- listings -->
      <div class="row expo"></div>
      <div class="row find-us"></div>
      <div class="row footer">
        <footer class="container flex">
          <div class="footer-logo flex">
            <img src="/assets/logo.png" alt="logo" width="30" height="30">
            <h1>@ Airbnb, Inc.</h1>
          </div>
          <div class="footer-nav">
            <a class="nav-item nav-link" href="https://www.airbnb.com/terms">Term & Privacy</a>
            <a class="nav-item nav-link" href="https://www.facebook.com/AirbnbMalaysia/?brand_redir=324826532457">
              <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
            </a>
            <a class="nav-item nav-link" href="https://www.instagram.com/airbnb/">
              <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            </a>
          </div>
        </footer>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>